.stars-container {
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #090a0f 0%, #3b4785 100%);
    position: relative;
}

.stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 911px 1017px #fff, 434px 1057px #fff, 1681px 62px #fff,
        1355px 795px #fff, 1599px 1535px #fff, 560px 1406px #fff,
        940px 367px #fff, 1805px 1224px #fff, 1066px 1644px #fff,
        1086px 127px #fff, 3px 1719px #fff, 403px 95px #fff, 1560px 729px #fff,
        1510px 1446px #fff, 437px 1653px #fff, 1965px 274px #fff,
        1547px 1223px #fff, 1789px 513px #fff, 1562px 757px #fff,
        1741px 1303px #fff, 1480px 1293px #fff, 1832px 159px #fff,
        44px 843px #fff, 859px 715px #fff, 1553px 1573px #fff, 834px 1023px #fff,
        1262px 1396px #fff, 1808px 1417px #fff, 127px 1558px #fff,
        1935px 1844px #fff, 43px 1560px #fff, 704px 98px #fff, 569px 206px #fff,
        329px 1254px #fff, 284px 1294px #fff, 717px 823px #fff, 189px 426px #fff,
        1020px 495px #fff, 1177px 679px #fff, 976px 1194px #fff,
        931px 1844px #fff, 1958px 1787px #fff, 637px 1302px #fff,
        1798px 1662px #fff, 1877px 855px #fff, 359px 810px #fff, 28px 878px #fff,
        1263px 1836px #fff, 1777px 85px #fff, 1185px 1435px #fff,
        356px 1137px #fff, 405px 474px #fff, 323px 561px #fff,
        1444px 1630px #fff, 477px 1051px #fff, 225px 902px #fff,
        865px 404px #fff, 349px 233px #fff, 1787px 1702px #fff,
        294px 1927px #fff, 782px 1692px #fff, 1966px 1248px #fff,
        650px 1247px #fff, 1876px 1401px #fff, 143px 548px #fff,
        1849px 655px #fff, 1377px 599px #fff, 1076px 1735px #fff,
        656px 323px #fff, 418px 759px #fff, 1950px 239px #fff, 808px 1710px #fff,
        921px 1436px #fff, 1832px 950px #fff, 520px 811px #fff,
        1259px 1977px #fff, 1636px 466px #fff, 1000px 507px #fff,
        291px 1787px #fff, 512px 999px #fff, 415px 1844px #fff, 36px 412px #fff,
        1141px 348px #fff, 1313px 1351px #fff, 1724px 1762px #fff,
        1972px 256px #fff, 1639px 719px #fff, 1501px 1691px #fff,
        1px 1060px #fff, 357px 1191px #fff, 1489px 572px #fff, 177px 778px #fff,
        1459px 1919px #fff, 184px 1737px #fff, 516px 1456px #fff,
        1578px 808px #fff, 1271px 54px #fff, 321px 1811px #fff,
        1128px 624px #fff, 1161px 1938px #fff, 1278px 1074px #fff,
        621px 386px #fff, 1643px 1774px #fff, 228px 1472px #fff,
        426px 1175px #fff, 1233px 139px #fff, 1921px 1138px #fff,
        266px 672px #fff, 1740px 201px #fff, 783px 1082px #fff,
        1280px 1646px #fff, 164px 1036px #fff, 1566px 406px #fff,
        1465px 1880px #fff, 703px 215px #fff, 932px 633px #fff,
        1103px 1946px #fff, 295px 496px #fff, 144px 1114px #fff,
        1816px 1491px #fff, 1314px 1964px #fff, 1053px 513px #fff,
        847px 543px #fff, 1541px 629px #fff, 1384px 288px #fff,
        1845px 628px #fff, 523px 959px #fff, 407px 1917px #fff,
        649px 1546px #fff, 176px 1399px #fff, 1558px 534px #fff,
        1950px 1953px #fff, 1372px 1311px #fff, 1150px 1037px #fff,
        427px 93px #fff, 261px 393px #fff, 1076px 1576px #fff,
        1167px 1907px #fff, 463px 1612px #fff, 625px 561px #fff,
        693px 460px #fff, 1221px 1876px #fff, 84px 1643px #fff, 29px 1609px #fff,
        876px 1333px #fff, 405px 1069px #fff, 19px 896px #fff, 604px 835px #fff,
        1812px 1527px #fff, 924px 1140px #fff, 969px 1009px #fff,
        1162px 1791px #fff, 1412px 1539px #fff, 1812px 1417px #fff,
        593px 1150px #fff, 1524px 473px #fff, 1633px 1144px #fff,
        898px 1480px #fff, 854px 32px #fff, 592px 554px #fff, 581px 232px #fff,
        1817px 708px #fff, 1464px 937px #fff, 1563px 129px #fff,
        1739px 534px #fff, 1619px 589px #fff, 1994px 871px #fff,
        1576px 506px #fff, 1646px 481px #fff, 1561px 986px #fff,
        1409px 600px #fff, 1616px 626px #fff, 1386px 343px #fff,
        709px 322px #fff, 1280px 988px #fff, 1177px 146px #fff, 717px 40px #fff,
        328px 298px #fff, 1706px 1978px #fff, 683px 514px #fff,
        1201px 1088px #fff, 478px 1299px #fff, 1127px 670px #fff,
        623px 280px #fff, 1361px 651px #fff, 317px 284px #fff, 1058px 598px #fff,
        1201px 525px #fff, 1556px 1602px #fff, 1758px 1562px #fff,
        1636px 36px #fff, 1867px 1232px #fff, 564px 698px #fff,
        1879px 1998px #fff, 562px 1681px #fff, 1188px 1332px #fff,
        423px 1033px #fff, 1328px 144px #fff, 1213px 1775px #fff,
        563px 994px #fff, 784px 1170px #fff, 824px 1595px #fff,
        338px 1414px #fff, 228px 49px #fff, 94px 363px #fff, 261px 14px #fff,
        1616px 1608px #fff, 1636px 1397px #fff, 1134px 1445px #fff,
        1571px 1188px #fff, 1107px 1145px #fff, 748px 1131px #fff,
        1374px 546px #fff, 1735px 689px #fff, 1854px 549px #fff,
        428px 1636px #fff, 562px 1804px #fff, 331px 130px #fff,
        1796px 375px #fff, 467px 182px #fff, 1784px 1457px #fff,
        56px 1375px #fff, 863px 1237px #fff, 1640px 1922px #fff,
        536px 978px #fff, 663px 1784px #fff, 209px 1064px #fff,
        1173px 764px #fff, 1023px 1042px #fff, 264px 1689px #fff,
        614px 148px #fff, 784px 941px #fff, 371px 360px #fff, 1201px 693px #fff,
        1024px 771px #fff, 1255px 1680px #fff, 1997px 161px #fff,
        412px 769px #fff, 607px 888px #fff, 1952px 201px #fff,
        1849px 1237px #fff, 1189px 829px #fff, 179px 348px #fff,
        805px 855px #fff, 117px 1810px #fff, 1393px 334px #fff, 592px 690px #fff,
        1390px 970px #fff, 1968px 95px #fff, 140px 1243px #fff,
        687px 1986px #fff, 1594px 157px #fff, 1104px 526px #fff,
        443px 587px #fff, 825px 1229px #fff, 1948px 1884px #fff,
        1396px 549px #fff, 1373px 625px #fff, 1093px 1382px #fff,
        573px 944px #fff, 975px 1677px #fff, 1706px 1958px #fff,
        1487px 1191px #fff, 1287px 114px #fff, 1702px 1639px #fff,
        742px 621px #fff, 1720px 361px #fff, 1436px 1168px #fff,
        1665px 1780px #fff, 1951px 1204px #fff, 219px 1459px #fff,
        1642px 1819px #fff, 1464px 68px #fff, 1470px 1092px #fff,
        550px 289px #fff, 1415px 1256px #fff, 1019px 281px #fff,
        1930px 199px #fff, 1688px 1841px #fff, 763px 1591px #fff,
        614px 1786px #fff, 1826px 376px #fff, 1600px 490px #fff,
        1932px 1186px #fff, 1966px 225px #fff, 758px 1560px #fff,
        977px 1893px #fff, 1140px 1385px #fff, 356px 764px #fff,
        1242px 906px #fff, 691px 1445px #fff, 949px 1420px #fff,
        1097px 1125px #fff, 1426px 1980px #fff, 1523px 143px #fff,
        1049px 1058px #fff, 1068px 1231px #fff, 1499px 535px #fff,
        1095px 918px #fff, 52px 428px #fff, 1179px 1610px #fff, 197px 765px #fff,
        1337px 1987px #fff, 274px 1245px #fff, 665px 130px #fff,
        419px 1568px #fff, 1693px 1048px #fff, 535px 35px #fff,
        1630px 1407px #fff, 961px 1234px #fff, 1321px 2000px #fff,
        1719px 562px #fff, 1936px 260px #fff, 153px 1106px #fff,
        1491px 1598px #fff, 467px 665px #fff, 568px 527px #fff,
        1638px 1867px #fff, 1652px 1005px #fff, 330px 1860px #fff,
        126px 1009px #fff, 755px 1520px #fff, 1771px 1578px #fff,
        572px 382px #fff, 1671px 535px #fff, 977px 1334px #fff,
        936px 1875px #fff, 1044px 1568px #fff, 344px 180px #fff,
        1907px 1867px #fff, 1218px 1118px #fff, 1793px 1835px #fff,
        477px 641px #fff, 292px 1624px #fff, 1631px 423px #fff,
        1817px 1168px #fff, 177px 1822px #fff, 447px 1118px #fff,
        137px 726px #fff, 372px 1037px #fff, 275px 956px #fff, 602px 825px #fff,
        481px 186px #fff, 1767px 1162px #fff, 849px 916px #fff,
        1038px 475px #fff, 538px 1481px #fff, 989px 1631px #fff,
        790px 529px #fff, 1130px 253px #fff, 916px 174px #fff, 186px 1527px #fff,
        266px 71px #fff, 595px 530px #fff, 1751px 999px #fff, 607px 872px #fff,
        1020px 1763px #fff, 742px 260px #fff, 114px 758px #fff,
        1882px 1280px #fff, 1494px 654px #fff, 1839px 1716px #fff,
        1631px 315px #fff, 855px 244px #fff, 1123px 1823px #fff,
        1722px 1325px #fff, 67px 1308px #fff, 412px 1446px #fff,
        816px 654px #fff, 379px 698px #fff, 189px 344px #fff, 212px 1053px #fff,
        1633px 1016px #fff, 1614px 241px #fff, 494px 1988px #fff,
        1909px 1904px #fff, 368px 1884px #fff, 1025px 950px #fff,
        178px 1583px #fff, 332px 984px #fff, 534px 1131px #fff,
        1945px 254px #fff, 1627px 28px #fff, 315px 1237px #fff,
        397px 1280px #fff, 1785px 1855px #fff, 1804px 1245px #fff,
        685px 713px #fff, 243px 565px #fff, 1606px 1519px #fff, 886px 124px #fff,
        1527px 1504px #fff, 1840px 1728px #fff, 1995px 632px #fff,
        1697px 1448px #fff, 1762px 1799px #fff, 1821px 792px #fff,
        956px 73px #fff, 349px 1970px #fff, 1917px 870px #fff, 95px 717px #fff,
        593px 808px #fff, 1821px 1136px #fff, 123px 295px #fff,
        327px 1703px #fff, 1046px 937px #fff, 1423px 357px #fff,
        1056px 1851px #fff, 1683px 1818px #fff, 268px 1713px #fff,
        1748px 1441px #fff, 258px 1286px #fff, 1391px 142px #fff,
        1091px 608px #fff, 1313px 1978px #fff, 1694px 463px #fff,
        516px 576px #fff, 293px 332px #fff, 459px 805px #fff, 398px 120px #fff,
        1000px 1474px #fff, 1050px 1298px #fff, 66px 1104px #fff,
        204px 636px #fff, 1581px 152px #fff, 174px 1852px #fff, 60px 510px #fff,
        1888px 1206px #fff, 669px 1698px #fff, 1151px 615px #fff,
        988px 82px #fff, 1472px 1971px #fff, 854px 809px #fff,
        1302px 1463px #fff, 1858px 947px #fff, 475px 1136px #fff,
        753px 1094px #fff, 1505px 1274px #fff, 424px 1022px #fff,
        1032px 1570px #fff, 1003px 178px #fff, 1758px 726px #fff,
        225px 1437px #fff, 1741px 407px #fff, 1173px 96px #fff,
        499px 1492px #fff, 468px 1685px #fff, 481px 1333px #fff,
        758px 1929px #fff, 968px 1083px #fff, 73px 1596px #fff,
        326px 1365px #fff, 261px 976px #fff, 378px 800px #fff, 731px 196px #fff,
        1078px 1458px #fff, 102px 319px #fff, 127px 1054px #fff,
        84px 1359px #fff, 310px 1754px #fff, 1841px 367px #fff,
        1979px 1125px #fff, 1189px 1572px #fff, 315px 1986px #fff,
        224px 1701px #fff, 1551px 682px #fff, 1255px 1446px #fff,
        819px 1573px #fff, 1812px 1672px #fff, 854px 109px #fff,
        617px 712px #fff, 637px 14px #fff, 1591px 1172px #fff, 851px 1440px #fff,
        447px 1441px #fff, 316px 164px #fff, 808px 809px #fff, 978px 639px #fff,
        1648px 686px #fff, 951px 950px #fff, 1847px 1735px #fff,
        1820px 1962px #fff, 1469px 871px #fff, 949px 1523px #fff,
        1404px 1465px #fff, 296px 613px #fff, 448px 722px #fff,
        642px 1517px #fff, 1149px 10px #fff, 1348px 1433px #fff,
        1931px 1129px #fff, 1902px 1341px #fff, 5px 999px #fff,
        851px 1107px #fff, 1161px 1577px #fff, 1007px 273px #fff,
        886px 1244px #fff, 657px 1455px #fff, 1792px 78px #fff,
        1946px 1780px #fff, 123px 618px #fff, 941px 1884px #fff,
        1484px 490px #fff, 906px 44px #fff, 551px 131px #fff, 606px 1569px #fff,
        580px 465px #fff, 1233px 1939px #fff, 1161px 311px #fff,
        100px 589px #fff, 793px 173px #fff, 1457px 1911px #fff,
        1808px 587px #fff, 658px 532px #fff, 1903px 1742px #fff,
        1426px 914px #fff, 1490px 1190px #fff, 245px 175px #fff,
        790px 1751px #fff, 1568px 1848px #fff, 960px 1577px #fff,
        1620px 1991px #fff, 1601px 1870px #fff, 1100px 134px #fff,
        1561px 1159px #fff, 1791px 197px #fff, 163px 1231px #fff,
        1378px 82px #fff, 1354px 670px #fff, 493px 622px #fff, 941px 1992px #fff,
        654px 1532px #fff, 62px 184px #fff, 1452px 1756px #fff,
        1095px 898px #fff, 1575px 447px #fff, 583px 91px #fff, 212px 1942px #fff,
        5px 1257px #fff, 1550px 111px #fff, 1372px 271px #fff, 534px 1664px #fff,
        1250px 650px #fff, 1437px 829px #fff, 1281px 612px #fff,
        1274px 589px #fff, 1517px 1615px #fff, 52px 361px #fff, 755px 301px #fff,
        376px 1762px #fff, 88px 1131px #fff, 1264px 1971px #fff,
        848px 575px #fff, 1863px 1326px #fff, 793px 911px #fff,
        1931px 1043px #fff, 805px 1878px #fff, 1612px 1851px #fff,
        1323px 769px #fff, 1658px 782px #fff, 1218px 344px #fff,
        242px 1940px #fff, 1470px 1576px #fff, 139px 470px #fff,
        1231px 1943px #fff, 377px 1308px #fff, 1918px 952px #fff,
        10px 822px #fff, 1044px 658px #fff, 1354px 1979px #fff, 1573px 19px #fff,
        1982px 183px #fff, 1755px 868px #fff, 41px 838px #fff, 1329px 935px #fff,
        190px 82px #fff, 1447px 972px #fff, 1916px 756px #fff,
        1194px 1084px #fff, 1586px 1512px #fff, 1561px 854px #fff,
        399px 122px #fff, 13px 294px #fff, 1579px 1184px #fff, 641px 1430px #fff,
        217px 432px #fff, 10px 1166px #fff, 50px 140px #fff, 1635px 1008px #fff,
        1738px 1491px #fff, 1712px 1788px #fff, 1589px 654px #fff,
        1402px 291px #fff, 671px 1345px #fff, 1864px 728px #fff,
        222px 1769px #fff, 1768px 1198px #fff, 224px 749px #fff,
        1412px 863px #fff, 1452px 852px #fff, 700px 921px #fff,
        1364px 1212px #fff, 488px 732px #fff, 1190px 286px #fff,
        1397px 468px #fff, 449px 437px #fff, 405px 1608px #fff,
        1296px 1770px #fff, 1908px 929px #fff, 421px 1738px #fff,
        512px 1540px #fff, 1520px 676px #fff, 1256px 1433px #fff,
        1036px 1546px #fff, 897px 857px #fff, 1465px 817px #fff,
        948px 1972px #fff, 341px 1854px #fff, 1650px 1719px #fff,
        1914px 181px #fff, 1982px 923px #fff, 1397px 309px #fff,
        1893px 757px #fff, 772px 1841px #fff, 1467px 1476px #fff,
        1016px 910px #fff, 1466px 536px #fff, 912px 1161px #fff,
        787px 1054px #fff, 1165px 471px #fff, 1766px 885px #fff, 48px 207px #fff,
        920px 1608px #fff, 351px 1357px #fff, 9px 777px #fff, 1643px 356px #fff,
        98px 256px #fff, 974px 1389px #fff, 116px 1405px #fff, 345px 1120px #fff,
        425px 1524px #fff, 1225px 1815px #fff, 261px 1263px #fff,
        842px 890px #fff, 368px 1449px #fff, 1080px 457px #fff, 343px 394px #fff,
        8px 72px #fff, 295px 1737px #fff, 427px 641px #fff, 1437px 1048px #fff,
        914px 414px #fff, 537px 905px #fff, 555px 805px #fff, 496px 150px #fff,
        30px 1415px #fff, 1600px 1477px #fff, 444px 622px #fff,
        1630px 241px #fff, 1726px 660px #fff, 1999px 1441px #fff,
        1660px 844px #fff, 1587px 1183px #fff, 1997px 1765px #fff,
        1986px 618px #fff, 199px 1361px #fff, 1534px 1536px #fff,
        1537px 395px #fff, 940px 437px #fff, 1598px 1345px #fff,
        968px 994px #fff, 393px 334px #fff, 1550px 1807px #fff,
        1048px 1444px #fff, 1520px 1205px #fff, 575px 965px #fff,
        596px 1174px #fff, 1708px 1437px #fff, 512px 555px #fff,
        933px 1887px #fff, 1427px 1364px #fff, 1407px 1108px #fff,
        606px 1326px #fff, 477px 1438px #fff, 788px 1287px #fff,
        1832px 1806px #fff, 1183px 880px #fff, 1136px 465px #fff,
        1682px 1265px #fff, 1113px 1814px #fff, 1494px 28px #fff,
        1838px 1073px #fff, 511px 635px #fff, 711px 998px #fff,
        1648px 1583px #fff, 673px 1907px #fff, 259px 1310px #fff,
        789px 511px #fff, 38px 1277px #fff, 985px 416px #fff;
    animation: animStar 50s linear infinite;
}
.stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 911px 1017px #fff, 434px 1057px #fff, 1681px 62px #fff,
        1355px 795px #fff, 1599px 1535px #fff, 560px 1406px #fff,
        940px 367px #fff, 1805px 1224px #fff, 1066px 1644px #fff,
        1086px 127px #fff, 3px 1719px #fff, 403px 95px #fff, 1560px 729px #fff,
        1510px 1446px #fff, 437px 1653px #fff, 1965px 274px #fff,
        1547px 1223px #fff, 1789px 513px #fff, 1562px 757px #fff,
        1741px 1303px #fff, 1480px 1293px #fff, 1832px 159px #fff,
        44px 843px #fff, 859px 715px #fff, 1553px 1573px #fff, 834px 1023px #fff,
        1262px 1396px #fff, 1808px 1417px #fff, 127px 1558px #fff,
        1935px 1844px #fff, 43px 1560px #fff, 704px 98px #fff, 569px 206px #fff,
        329px 1254px #fff, 284px 1294px #fff, 717px 823px #fff, 189px 426px #fff,
        1020px 495px #fff, 1177px 679px #fff, 976px 1194px #fff,
        931px 1844px #fff, 1958px 1787px #fff, 637px 1302px #fff,
        1798px 1662px #fff, 1877px 855px #fff, 359px 810px #fff, 28px 878px #fff,
        1263px 1836px #fff, 1777px 85px #fff, 1185px 1435px #fff,
        356px 1137px #fff, 405px 474px #fff, 323px 561px #fff,
        1444px 1630px #fff, 477px 1051px #fff, 225px 902px #fff,
        865px 404px #fff, 349px 233px #fff, 1787px 1702px #fff,
        294px 1927px #fff, 782px 1692px #fff, 1966px 1248px #fff,
        650px 1247px #fff, 1876px 1401px #fff, 143px 548px #fff,
        1849px 655px #fff, 1377px 599px #fff, 1076px 1735px #fff,
        656px 323px #fff, 418px 759px #fff, 1950px 239px #fff, 808px 1710px #fff,
        921px 1436px #fff, 1832px 950px #fff, 520px 811px #fff,
        1259px 1977px #fff, 1636px 466px #fff, 1000px 507px #fff,
        291px 1787px #fff, 512px 999px #fff, 415px 1844px #fff, 36px 412px #fff,
        1141px 348px #fff, 1313px 1351px #fff, 1724px 1762px #fff,
        1972px 256px #fff, 1639px 719px #fff, 1501px 1691px #fff,
        1px 1060px #fff, 357px 1191px #fff, 1489px 572px #fff, 177px 778px #fff,
        1459px 1919px #fff, 184px 1737px #fff, 516px 1456px #fff,
        1578px 808px #fff, 1271px 54px #fff, 321px 1811px #fff,
        1128px 624px #fff, 1161px 1938px #fff, 1278px 1074px #fff,
        621px 386px #fff, 1643px 1774px #fff, 228px 1472px #fff,
        426px 1175px #fff, 1233px 139px #fff, 1921px 1138px #fff,
        266px 672px #fff, 1740px 201px #fff, 783px 1082px #fff,
        1280px 1646px #fff, 164px 1036px #fff, 1566px 406px #fff,
        1465px 1880px #fff, 703px 215px #fff, 932px 633px #fff,
        1103px 1946px #fff, 295px 496px #fff, 144px 1114px #fff,
        1816px 1491px #fff, 1314px 1964px #fff, 1053px 513px #fff,
        847px 543px #fff, 1541px 629px #fff, 1384px 288px #fff,
        1845px 628px #fff, 523px 959px #fff, 407px 1917px #fff,
        649px 1546px #fff, 176px 1399px #fff, 1558px 534px #fff,
        1950px 1953px #fff, 1372px 1311px #fff, 1150px 1037px #fff,
        427px 93px #fff, 261px 393px #fff, 1076px 1576px #fff,
        1167px 1907px #fff, 463px 1612px #fff, 625px 561px #fff,
        693px 460px #fff, 1221px 1876px #fff, 84px 1643px #fff, 29px 1609px #fff,
        876px 1333px #fff, 405px 1069px #fff, 19px 896px #fff, 604px 835px #fff,
        1812px 1527px #fff, 924px 1140px #fff, 969px 1009px #fff,
        1162px 1791px #fff, 1412px 1539px #fff, 1812px 1417px #fff,
        593px 1150px #fff, 1524px 473px #fff, 1633px 1144px #fff,
        898px 1480px #fff, 854px 32px #fff, 592px 554px #fff, 581px 232px #fff,
        1817px 708px #fff, 1464px 937px #fff, 1563px 129px #fff,
        1739px 534px #fff, 1619px 589px #fff, 1994px 871px #fff,
        1576px 506px #fff, 1646px 481px #fff, 1561px 986px #fff,
        1409px 600px #fff, 1616px 626px #fff, 1386px 343px #fff,
        709px 322px #fff, 1280px 988px #fff, 1177px 146px #fff, 717px 40px #fff,
        328px 298px #fff, 1706px 1978px #fff, 683px 514px #fff,
        1201px 1088px #fff, 478px 1299px #fff, 1127px 670px #fff,
        623px 280px #fff, 1361px 651px #fff, 317px 284px #fff, 1058px 598px #fff,
        1201px 525px #fff, 1556px 1602px #fff, 1758px 1562px #fff,
        1636px 36px #fff, 1867px 1232px #fff, 564px 698px #fff,
        1879px 1998px #fff, 562px 1681px #fff, 1188px 1332px #fff,
        423px 1033px #fff, 1328px 144px #fff, 1213px 1775px #fff,
        563px 994px #fff, 784px 1170px #fff, 824px 1595px #fff,
        338px 1414px #fff, 228px 49px #fff, 94px 363px #fff, 261px 14px #fff,
        1616px 1608px #fff, 1636px 1397px #fff, 1134px 1445px #fff,
        1571px 1188px #fff, 1107px 1145px #fff, 748px 1131px #fff,
        1374px 546px #fff, 1735px 689px #fff, 1854px 549px #fff,
        428px 1636px #fff, 562px 1804px #fff, 331px 130px #fff,
        1796px 375px #fff, 467px 182px #fff, 1784px 1457px #fff,
        56px 1375px #fff, 863px 1237px #fff, 1640px 1922px #fff,
        536px 978px #fff, 663px 1784px #fff, 209px 1064px #fff,
        1173px 764px #fff, 1023px 1042px #fff, 264px 1689px #fff,
        614px 148px #fff, 784px 941px #fff, 371px 360px #fff, 1201px 693px #fff,
        1024px 771px #fff, 1255px 1680px #fff, 1997px 161px #fff,
        412px 769px #fff, 607px 888px #fff, 1952px 201px #fff,
        1849px 1237px #fff, 1189px 829px #fff, 179px 348px #fff,
        805px 855px #fff, 117px 1810px #fff, 1393px 334px #fff, 592px 690px #fff,
        1390px 970px #fff, 1968px 95px #fff, 140px 1243px #fff,
        687px 1986px #fff, 1594px 157px #fff, 1104px 526px #fff,
        443px 587px #fff, 825px 1229px #fff, 1948px 1884px #fff,
        1396px 549px #fff, 1373px 625px #fff, 1093px 1382px #fff,
        573px 944px #fff, 975px 1677px #fff, 1706px 1958px #fff,
        1487px 1191px #fff, 1287px 114px #fff, 1702px 1639px #fff,
        742px 621px #fff, 1720px 361px #fff, 1436px 1168px #fff,
        1665px 1780px #fff, 1951px 1204px #fff, 219px 1459px #fff,
        1642px 1819px #fff, 1464px 68px #fff, 1470px 1092px #fff,
        550px 289px #fff, 1415px 1256px #fff, 1019px 281px #fff,
        1930px 199px #fff, 1688px 1841px #fff, 763px 1591px #fff,
        614px 1786px #fff, 1826px 376px #fff, 1600px 490px #fff,
        1932px 1186px #fff, 1966px 225px #fff, 758px 1560px #fff,
        977px 1893px #fff, 1140px 1385px #fff, 356px 764px #fff,
        1242px 906px #fff, 691px 1445px #fff, 949px 1420px #fff,
        1097px 1125px #fff, 1426px 1980px #fff, 1523px 143px #fff,
        1049px 1058px #fff, 1068px 1231px #fff, 1499px 535px #fff,
        1095px 918px #fff, 52px 428px #fff, 1179px 1610px #fff, 197px 765px #fff,
        1337px 1987px #fff, 274px 1245px #fff, 665px 130px #fff,
        419px 1568px #fff, 1693px 1048px #fff, 535px 35px #fff,
        1630px 1407px #fff, 961px 1234px #fff, 1321px 2000px #fff,
        1719px 562px #fff, 1936px 260px #fff, 153px 1106px #fff,
        1491px 1598px #fff, 467px 665px #fff, 568px 527px #fff,
        1638px 1867px #fff, 1652px 1005px #fff, 330px 1860px #fff,
        126px 1009px #fff, 755px 1520px #fff, 1771px 1578px #fff,
        572px 382px #fff, 1671px 535px #fff, 977px 1334px #fff,
        936px 1875px #fff, 1044px 1568px #fff, 344px 180px #fff,
        1907px 1867px #fff, 1218px 1118px #fff, 1793px 1835px #fff,
        477px 641px #fff, 292px 1624px #fff, 1631px 423px #fff,
        1817px 1168px #fff, 177px 1822px #fff, 447px 1118px #fff,
        137px 726px #fff, 372px 1037px #fff, 275px 956px #fff, 602px 825px #fff,
        481px 186px #fff, 1767px 1162px #fff, 849px 916px #fff,
        1038px 475px #fff, 538px 1481px #fff, 989px 1631px #fff,
        790px 529px #fff, 1130px 253px #fff, 916px 174px #fff, 186px 1527px #fff,
        266px 71px #fff, 595px 530px #fff, 1751px 999px #fff, 607px 872px #fff,
        1020px 1763px #fff, 742px 260px #fff, 114px 758px #fff,
        1882px 1280px #fff, 1494px 654px #fff, 1839px 1716px #fff,
        1631px 315px #fff, 855px 244px #fff, 1123px 1823px #fff,
        1722px 1325px #fff, 67px 1308px #fff, 412px 1446px #fff,
        816px 654px #fff, 379px 698px #fff, 189px 344px #fff, 212px 1053px #fff,
        1633px 1016px #fff, 1614px 241px #fff, 494px 1988px #fff,
        1909px 1904px #fff, 368px 1884px #fff, 1025px 950px #fff,
        178px 1583px #fff, 332px 984px #fff, 534px 1131px #fff,
        1945px 254px #fff, 1627px 28px #fff, 315px 1237px #fff,
        397px 1280px #fff, 1785px 1855px #fff, 1804px 1245px #fff,
        685px 713px #fff, 243px 565px #fff, 1606px 1519px #fff, 886px 124px #fff,
        1527px 1504px #fff, 1840px 1728px #fff, 1995px 632px #fff,
        1697px 1448px #fff, 1762px 1799px #fff, 1821px 792px #fff,
        956px 73px #fff, 349px 1970px #fff, 1917px 870px #fff, 95px 717px #fff,
        593px 808px #fff, 1821px 1136px #fff, 123px 295px #fff,
        327px 1703px #fff, 1046px 937px #fff, 1423px 357px #fff,
        1056px 1851px #fff, 1683px 1818px #fff, 268px 1713px #fff,
        1748px 1441px #fff, 258px 1286px #fff, 1391px 142px #fff,
        1091px 608px #fff, 1313px 1978px #fff, 1694px 463px #fff,
        516px 576px #fff, 293px 332px #fff, 459px 805px #fff, 398px 120px #fff,
        1000px 1474px #fff, 1050px 1298px #fff, 66px 1104px #fff,
        204px 636px #fff, 1581px 152px #fff, 174px 1852px #fff, 60px 510px #fff,
        1888px 1206px #fff, 669px 1698px #fff, 1151px 615px #fff,
        988px 82px #fff, 1472px 1971px #fff, 854px 809px #fff,
        1302px 1463px #fff, 1858px 947px #fff, 475px 1136px #fff,
        753px 1094px #fff, 1505px 1274px #fff, 424px 1022px #fff,
        1032px 1570px #fff, 1003px 178px #fff, 1758px 726px #fff,
        225px 1437px #fff, 1741px 407px #fff, 1173px 96px #fff,
        499px 1492px #fff, 468px 1685px #fff, 481px 1333px #fff,
        758px 1929px #fff, 968px 1083px #fff, 73px 1596px #fff,
        326px 1365px #fff, 261px 976px #fff, 378px 800px #fff, 731px 196px #fff,
        1078px 1458px #fff, 102px 319px #fff, 127px 1054px #fff,
        84px 1359px #fff, 310px 1754px #fff, 1841px 367px #fff,
        1979px 1125px #fff, 1189px 1572px #fff, 315px 1986px #fff,
        224px 1701px #fff, 1551px 682px #fff, 1255px 1446px #fff,
        819px 1573px #fff, 1812px 1672px #fff, 854px 109px #fff,
        617px 712px #fff, 637px 14px #fff, 1591px 1172px #fff, 851px 1440px #fff,
        447px 1441px #fff, 316px 164px #fff, 808px 809px #fff, 978px 639px #fff,
        1648px 686px #fff, 951px 950px #fff, 1847px 1735px #fff,
        1820px 1962px #fff, 1469px 871px #fff, 949px 1523px #fff,
        1404px 1465px #fff, 296px 613px #fff, 448px 722px #fff,
        642px 1517px #fff, 1149px 10px #fff, 1348px 1433px #fff,
        1931px 1129px #fff, 1902px 1341px #fff, 5px 999px #fff,
        851px 1107px #fff, 1161px 1577px #fff, 1007px 273px #fff,
        886px 1244px #fff, 657px 1455px #fff, 1792px 78px #fff,
        1946px 1780px #fff, 123px 618px #fff, 941px 1884px #fff,
        1484px 490px #fff, 906px 44px #fff, 551px 131px #fff, 606px 1569px #fff,
        580px 465px #fff, 1233px 1939px #fff, 1161px 311px #fff,
        100px 589px #fff, 793px 173px #fff, 1457px 1911px #fff,
        1808px 587px #fff, 658px 532px #fff, 1903px 1742px #fff,
        1426px 914px #fff, 1490px 1190px #fff, 245px 175px #fff,
        790px 1751px #fff, 1568px 1848px #fff, 960px 1577px #fff,
        1620px 1991px #fff, 1601px 1870px #fff, 1100px 134px #fff,
        1561px 1159px #fff, 1791px 197px #fff, 163px 1231px #fff,
        1378px 82px #fff, 1354px 670px #fff, 493px 622px #fff, 941px 1992px #fff,
        654px 1532px #fff, 62px 184px #fff, 1452px 1756px #fff,
        1095px 898px #fff, 1575px 447px #fff, 583px 91px #fff, 212px 1942px #fff,
        5px 1257px #fff, 1550px 111px #fff, 1372px 271px #fff, 534px 1664px #fff,
        1250px 650px #fff, 1437px 829px #fff, 1281px 612px #fff,
        1274px 589px #fff, 1517px 1615px #fff, 52px 361px #fff, 755px 301px #fff,
        376px 1762px #fff, 88px 1131px #fff, 1264px 1971px #fff,
        848px 575px #fff, 1863px 1326px #fff, 793px 911px #fff,
        1931px 1043px #fff, 805px 1878px #fff, 1612px 1851px #fff,
        1323px 769px #fff, 1658px 782px #fff, 1218px 344px #fff,
        242px 1940px #fff, 1470px 1576px #fff, 139px 470px #fff,
        1231px 1943px #fff, 377px 1308px #fff, 1918px 952px #fff,
        10px 822px #fff, 1044px 658px #fff, 1354px 1979px #fff, 1573px 19px #fff,
        1982px 183px #fff, 1755px 868px #fff, 41px 838px #fff, 1329px 935px #fff,
        190px 82px #fff, 1447px 972px #fff, 1916px 756px #fff,
        1194px 1084px #fff, 1586px 1512px #fff, 1561px 854px #fff,
        399px 122px #fff, 13px 294px #fff, 1579px 1184px #fff, 641px 1430px #fff,
        217px 432px #fff, 10px 1166px #fff, 50px 140px #fff, 1635px 1008px #fff,
        1738px 1491px #fff, 1712px 1788px #fff, 1589px 654px #fff,
        1402px 291px #fff, 671px 1345px #fff, 1864px 728px #fff,
        222px 1769px #fff, 1768px 1198px #fff, 224px 749px #fff,
        1412px 863px #fff, 1452px 852px #fff, 700px 921px #fff,
        1364px 1212px #fff, 488px 732px #fff, 1190px 286px #fff,
        1397px 468px #fff, 449px 437px #fff, 405px 1608px #fff,
        1296px 1770px #fff, 1908px 929px #fff, 421px 1738px #fff,
        512px 1540px #fff, 1520px 676px #fff, 1256px 1433px #fff,
        1036px 1546px #fff, 897px 857px #fff, 1465px 817px #fff,
        948px 1972px #fff, 341px 1854px #fff, 1650px 1719px #fff,
        1914px 181px #fff, 1982px 923px #fff, 1397px 309px #fff,
        1893px 757px #fff, 772px 1841px #fff, 1467px 1476px #fff,
        1016px 910px #fff, 1466px 536px #fff, 912px 1161px #fff,
        787px 1054px #fff, 1165px 471px #fff, 1766px 885px #fff, 48px 207px #fff,
        920px 1608px #fff, 351px 1357px #fff, 9px 777px #fff, 1643px 356px #fff,
        98px 256px #fff, 974px 1389px #fff, 116px 1405px #fff, 345px 1120px #fff,
        425px 1524px #fff, 1225px 1815px #fff, 261px 1263px #fff,
        842px 890px #fff, 368px 1449px #fff, 1080px 457px #fff, 343px 394px #fff,
        8px 72px #fff, 295px 1737px #fff, 427px 641px #fff, 1437px 1048px #fff,
        914px 414px #fff, 537px 905px #fff, 555px 805px #fff, 496px 150px #fff,
        30px 1415px #fff, 1600px 1477px #fff, 444px 622px #fff,
        1630px 241px #fff, 1726px 660px #fff, 1999px 1441px #fff,
        1660px 844px #fff, 1587px 1183px #fff, 1997px 1765px #fff,
        1986px 618px #fff, 199px 1361px #fff, 1534px 1536px #fff,
        1537px 395px #fff, 940px 437px #fff, 1598px 1345px #fff,
        968px 994px #fff, 393px 334px #fff, 1550px 1807px #fff,
        1048px 1444px #fff, 1520px 1205px #fff, 575px 965px #fff,
        596px 1174px #fff, 1708px 1437px #fff, 512px 555px #fff,
        933px 1887px #fff, 1427px 1364px #fff, 1407px 1108px #fff,
        606px 1326px #fff, 477px 1438px #fff, 788px 1287px #fff,
        1832px 1806px #fff, 1183px 880px #fff, 1136px 465px #fff,
        1682px 1265px #fff, 1113px 1814px #fff, 1494px 28px #fff,
        1838px 1073px #fff, 511px 635px #fff, 711px 998px #fff,
        1648px 1583px #fff, 673px 1907px #fff, 259px 1310px #fff,
        789px 511px #fff, 38px 1277px #fff, 985px 416px #fff;
}

.stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1617px 623px #fff, 1380px 1576px #fff, 819px 1224px #fff,
        1364px 1767px #fff, 1203px 706px #fff, 292px 663px #fff,
        1603px 434px #fff, 392px 584px #fff, 1147px 274px #fff,
        1445px 519px #fff, 1715px 1770px #fff, 1631px 1903px #fff,
        1087px 69px #fff, 823px 1834px #fff, 932px 1123px #fff,
        1863px 380px #fff, 1177px 262px #fff, 1041px 476px #fff,
        199px 254px #fff, 40px 953px #fff, 666px 1135px #fff, 1554px 451px #fff,
        634px 1050px #fff, 708px 916px #fff, 1547px 1010px #fff,
        363px 1569px #fff, 309px 912px #fff, 742px 331px #fff, 1685px 526px #fff,
        1740px 1947px #fff, 709px 34px #fff, 1989px 1219px #fff,
        798px 1521px #fff, 1522px 1715px #fff, 665px 339px #fff,
        430px 1292px #fff, 1882px 1332px #fff, 1670px 14px #fff, 34px 798px #fff,
        964px 189px #fff, 1417px 899px #fff, 1153px 356px #fff, 733px 870px #fff,
        1651px 1535px #fff, 81px 562px #fff, 228px 864px #fff,
        1789px 1596px #fff, 622px 1553px #fff, 649px 1129px #fff,
        1208px 1890px #fff, 686px 1924px #fff, 1689px 1967px #fff,
        1973px 160px #fff, 1678px 59px #fff, 287px 298px #fff, 325px 1012px #fff,
        848px 681px #fff, 871px 1535px #fff, 930px 166px #fff,
        1442px 1283px #fff, 1932px 80px #fff, 241px 985px #fff, 995px 619px #fff,
        1413px 1069px #fff, 1004px 1912px #fff, 1214px 750px #fff,
        609px 8px #fff, 222px 178px #fff, 1591px 1751px #fff, 753px 1149px #fff,
        164px 798px #fff, 1070px 1466px #fff, 1025px 1640px #fff,
        720px 22px #fff, 1242px 760px #fff, 482px 1465px #fff, 665px 407px #fff,
        479px 1927px #fff, 349px 1453px #fff, 761px 1935px #fff,
        353px 1013px #fff, 336px 1614px #fff, 362px 384px #fff, 71px 124px #fff,
        1762px 331px #fff, 311px 1063px #fff, 638px 1323px #fff,
        1626px 964px #fff, 1125px 1480px #fff, 1357px 533px #fff,
        712px 1222px #fff, 1256px 380px #fff, 1244px 217px #fff, 68px 953px #fff,
        853px 826px #fff, 926px 1554px #fff, 1026px 1972px #fff,
        1623px 1881px #fff, 467px 1287px #fff, 1720px 1834px #fff,
        283px 1441px #fff, 906px 1004px #fff, 233px 671px #fff,
        1310px 1409px #fff, 334px 824px #fff, 1478px 64px #fff, 400px 94px #fff,
        1822px 245px #fff, 106px 414px #fff, 409px 208px #fff, 774px 164px #fff,
        1039px 965px #fff, 277px 1162px #fff, 1323px 1390px #fff,
        1659px 1456px #fff, 642px 202px #fff, 1981px 1680px #fff,
        814px 597px #fff, 1536px 298px #fff, 1677px 1839px #fff,
        1602px 1645px #fff, 570px 1675px #fff, 239px 245px #fff,
        1071px 1392px #fff, 1085px 319px #fff, 63px 1830px #fff,
        88px 1826px #fff, 1268px 92px #fff, 727px 176px #fff, 1217px 960px #fff,
        1384px 995px #fff, 776px 1289px #fff, 646px 450px #fff,
        560px 1829px #fff, 32px 261px #fff, 531px 1203px #fff,
        1186px 1633px #fff, 788px 500px #fff, 308px 695px #fff,
        1740px 754px #fff, 253px 1052px #fff, 781px 1189px #fff,
        715px 265px #fff, 966px 11px #fff, 855px 102px #fff, 1835px 399px #fff,
        1202px 754px #fff, 394px 1900px #fff, 1795px 1326px #fff,
        1925px 1162px #fff, 936px 1952px #fff, 185px 1783px #fff,
        388px 1500px #fff, 782px 1817px #fff, 783px 1856px #fff,
        1889px 670px #fff, 724px 1583px #fff, 965px 1224px #fff,
        18px 1396px #fff, 574px 1853px #fff, 393px 1250px #fff,
        1742px 1961px #fff, 1962px 1295px #fff, 883px 2000px #fff,
        617px 1013px #fff, 1261px 1253px #fff, 1703px 1840px #fff,
        179px 1887px #fff, 755px 1060px #fff, 551px 1297px #fff,
        1744px 1277px #fff, 852px 259px #fff, 983px 1581px #fff,
        256px 286px #fff, 1835px 917px #fff, 1361px 1291px #fff,
        966px 863px #fff, 1305px 1002px #fff, 1586px 644px #fff,
        1727px 821px #fff, 633px 48px #fff, 1416px 386px #fff, 1679px 217px #fff,
        681px 329px #fff, 128px 906px #fff, 228px 940px #fff, 149px 1870px #fff,
        1763px 942px #fff, 621px 252px #fff, 1936px 786px #fff,
        1816px 469px #fff, 376px 1543px #fff, 1009px 1259px #fff,
        980px 131px #fff, 1099px 907px #fff, 504px 1540px #fff,
        1546px 1974px #fff, 158px 1665px #fff, 904px 1185px #fff,
        1919px 1294px #fff;
    animation: animStar 100s linear infinite;
}
.stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1617px 623px #fff, 1380px 1576px #fff, 819px 1224px #fff,
        1364px 1767px #fff, 1203px 706px #fff, 292px 663px #fff,
        1603px 434px #fff, 392px 584px #fff, 1147px 274px #fff,
        1445px 519px #fff, 1715px 1770px #fff, 1631px 1903px #fff,
        1087px 69px #fff, 823px 1834px #fff, 932px 1123px #fff,
        1863px 380px #fff, 1177px 262px #fff, 1041px 476px #fff,
        199px 254px #fff, 40px 953px #fff, 666px 1135px #fff, 1554px 451px #fff,
        634px 1050px #fff, 708px 916px #fff, 1547px 1010px #fff,
        363px 1569px #fff, 309px 912px #fff, 742px 331px #fff, 1685px 526px #fff,
        1740px 1947px #fff, 709px 34px #fff, 1989px 1219px #fff,
        798px 1521px #fff, 1522px 1715px #fff, 665px 339px #fff,
        430px 1292px #fff, 1882px 1332px #fff, 1670px 14px #fff, 34px 798px #fff,
        964px 189px #fff, 1417px 899px #fff, 1153px 356px #fff, 733px 870px #fff,
        1651px 1535px #fff, 81px 562px #fff, 228px 864px #fff,
        1789px 1596px #fff, 622px 1553px #fff, 649px 1129px #fff,
        1208px 1890px #fff, 686px 1924px #fff, 1689px 1967px #fff,
        1973px 160px #fff, 1678px 59px #fff, 287px 298px #fff, 325px 1012px #fff,
        848px 681px #fff, 871px 1535px #fff, 930px 166px #fff,
        1442px 1283px #fff, 1932px 80px #fff, 241px 985px #fff, 995px 619px #fff,
        1413px 1069px #fff, 1004px 1912px #fff, 1214px 750px #fff,
        609px 8px #fff, 222px 178px #fff, 1591px 1751px #fff, 753px 1149px #fff,
        164px 798px #fff, 1070px 1466px #fff, 1025px 1640px #fff,
        720px 22px #fff, 1242px 760px #fff, 482px 1465px #fff, 665px 407px #fff,
        479px 1927px #fff, 349px 1453px #fff, 761px 1935px #fff,
        353px 1013px #fff, 336px 1614px #fff, 362px 384px #fff, 71px 124px #fff,
        1762px 331px #fff, 311px 1063px #fff, 638px 1323px #fff,
        1626px 964px #fff, 1125px 1480px #fff, 1357px 533px #fff,
        712px 1222px #fff, 1256px 380px #fff, 1244px 217px #fff, 68px 953px #fff,
        853px 826px #fff, 926px 1554px #fff, 1026px 1972px #fff,
        1623px 1881px #fff, 467px 1287px #fff, 1720px 1834px #fff,
        283px 1441px #fff, 906px 1004px #fff, 233px 671px #fff,
        1310px 1409px #fff, 334px 824px #fff, 1478px 64px #fff, 400px 94px #fff,
        1822px 245px #fff, 106px 414px #fff, 409px 208px #fff, 774px 164px #fff,
        1039px 965px #fff, 277px 1162px #fff, 1323px 1390px #fff,
        1659px 1456px #fff, 642px 202px #fff, 1981px 1680px #fff,
        814px 597px #fff, 1536px 298px #fff, 1677px 1839px #fff,
        1602px 1645px #fff, 570px 1675px #fff, 239px 245px #fff,
        1071px 1392px #fff, 1085px 319px #fff, 63px 1830px #fff,
        88px 1826px #fff, 1268px 92px #fff, 727px 176px #fff, 1217px 960px #fff,
        1384px 995px #fff, 776px 1289px #fff, 646px 450px #fff,
        560px 1829px #fff, 32px 261px #fff, 531px 1203px #fff,
        1186px 1633px #fff, 788px 500px #fff, 308px 695px #fff,
        1740px 754px #fff, 253px 1052px #fff, 781px 1189px #fff,
        715px 265px #fff, 966px 11px #fff, 855px 102px #fff, 1835px 399px #fff,
        1202px 754px #fff, 394px 1900px #fff, 1795px 1326px #fff,
        1925px 1162px #fff, 936px 1952px #fff, 185px 1783px #fff,
        388px 1500px #fff, 782px 1817px #fff, 783px 1856px #fff,
        1889px 670px #fff, 724px 1583px #fff, 965px 1224px #fff,
        18px 1396px #fff, 574px 1853px #fff, 393px 1250px #fff,
        1742px 1961px #fff, 1962px 1295px #fff, 883px 2000px #fff,
        617px 1013px #fff, 1261px 1253px #fff, 1703px 1840px #fff,
        179px 1887px #fff, 755px 1060px #fff, 551px 1297px #fff,
        1744px 1277px #fff, 852px 259px #fff, 983px 1581px #fff,
        256px 286px #fff, 1835px 917px #fff, 1361px 1291px #fff,
        966px 863px #fff, 1305px 1002px #fff, 1586px 644px #fff,
        1727px 821px #fff, 633px 48px #fff, 1416px 386px #fff, 1679px 217px #fff,
        681px 329px #fff, 128px 906px #fff, 228px 940px #fff, 149px 1870px #fff,
        1763px 942px #fff, 621px 252px #fff, 1936px 786px #fff,
        1816px 469px #fff, 376px 1543px #fff, 1009px 1259px #fff,
        980px 131px #fff, 1099px 907px #fff, 504px 1540px #fff,
        1546px 1974px #fff, 158px 1665px #fff, 904px 1185px #fff,
        1919px 1294px #fff;
}

.stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 349px 125px #fff, 85px 281px #fff, 996px 1101px #fff,
        1180px 514px #fff, 475px 1557px #fff, 519px 950px #fff,
        1920px 295px #fff, 236px 52px #fff, 1731px 826px #fff, 1735px 247px #fff,
        867px 223px #fff, 1503px 901px #fff, 681px 1319px #fff, 55px 564px #fff,
        1989px 1239px #fff, 630px 951px #fff, 1445px 1430px #fff,
        1694px 825px #fff, 1767px 877px #fff, 1482px 1116px #fff,
        1721px 1317px #fff, 832px 236px #fff, 1856px 650px #fff,
        793px 1033px #fff, 1240px 966px #fff, 519px 540px #fff,
        1199px 1139px #fff, 1042px 1979px #fff, 884px 383px #fff,
        1925px 676px #fff, 569px 751px #fff, 1146px 1148px #fff,
        1629px 308px #fff, 1847px 504px #fff, 601px 986px #fff,
        1997px 819px #fff, 659px 867px #fff, 813px 653px #fff, 781px 207px #fff,
        1976px 65px #fff, 1401px 804px #fff, 512px 969px #fff, 67px 1676px #fff,
        1912px 1459px #fff, 408px 422px #fff, 473px 1604px #fff,
        379px 1224px #fff, 502px 853px #fff, 969px 668px #fff,
        1943px 1589px #fff, 778px 480px #fff, 871px 1508px #fff,
        693px 688px #fff, 323px 350px #fff, 1439px 1622px #fff,
        1774px 1032px #fff, 1284px 1637px #fff, 652px 313px #fff,
        1096px 1476px #fff, 1585px 100px #fff, 861px 1243px #fff,
        1313px 897px #fff, 433px 420px #fff, 74px 773px #fff, 1012px 1376px #fff,
        591px 474px #fff, 1832px 1458px #fff, 1301px 1869px #fff,
        556px 1019px #fff, 1849px 68px #fff, 334px 1166px #fff,
        1705px 1124px #fff, 1817px 760px #fff, 1985px 1429px #fff,
        1064px 108px #fff, 623px 1704px #fff, 614px 1593px #fff,
        229px 892px #fff, 1140px 1818px #fff, 613px 1583px #fff,
        930px 965px #fff, 290px 888px #fff, 1068px 514px #fff, 1895px 202px #fff,
        1644px 177px #fff, 627px 1895px #fff, 1727px 1271px #fff,
        1000px 1473px #fff, 709px 1091px #fff, 445px 742px #fff,
        1814px 399px #fff, 1090px 802px #fff, 925px 69px #fff,
        1988px 1947px #fff, 1085px 167px #fff, 955px 676px #fff,
        649px 1287px #fff, 1782px 453px #fff, 1732px 691px #fff,
        257px 208px #fff;
    animation: animStar 150s linear infinite;
}
.stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 349px 125px #fff, 85px 281px #fff, 996px 1101px #fff,
        1180px 514px #fff, 475px 1557px #fff, 519px 950px #fff,
        1920px 295px #fff, 236px 52px #fff, 1731px 826px #fff, 1735px 247px #fff,
        867px 223px #fff, 1503px 901px #fff, 681px 1319px #fff, 55px 564px #fff,
        1989px 1239px #fff, 630px 951px #fff, 1445px 1430px #fff,
        1694px 825px #fff, 1767px 877px #fff, 1482px 1116px #fff,
        1721px 1317px #fff, 832px 236px #fff, 1856px 650px #fff,
        793px 1033px #fff, 1240px 966px #fff, 519px 540px #fff,
        1199px 1139px #fff, 1042px 1979px #fff, 884px 383px #fff,
        1925px 676px #fff, 569px 751px #fff, 1146px 1148px #fff,
        1629px 308px #fff, 1847px 504px #fff, 601px 986px #fff,
        1997px 819px #fff, 659px 867px #fff, 813px 653px #fff, 781px 207px #fff,
        1976px 65px #fff, 1401px 804px #fff, 512px 969px #fff, 67px 1676px #fff,
        1912px 1459px #fff, 408px 422px #fff, 473px 1604px #fff,
        379px 1224px #fff, 502px 853px #fff, 969px 668px #fff,
        1943px 1589px #fff, 778px 480px #fff, 871px 1508px #fff,
        693px 688px #fff, 323px 350px #fff, 1439px 1622px #fff,
        1774px 1032px #fff, 1284px 1637px #fff, 652px 313px #fff,
        1096px 1476px #fff, 1585px 100px #fff, 861px 1243px #fff,
        1313px 897px #fff, 433px 420px #fff, 74px 773px #fff, 1012px 1376px #fff,
        591px 474px #fff, 1832px 1458px #fff, 1301px 1869px #fff,
        556px 1019px #fff, 1849px 68px #fff, 334px 1166px #fff,
        1705px 1124px #fff, 1817px 760px #fff, 1985px 1429px #fff,
        1064px 108px #fff, 623px 1704px #fff, 614px 1593px #fff,
        229px 892px #fff, 1140px 1818px #fff, 613px 1583px #fff,
        930px 965px #fff, 290px 888px #fff, 1068px 514px #fff, 1895px 202px #fff,
        1644px 177px #fff, 627px 1895px #fff, 1727px 1271px #fff,
        1000px 1473px #fff, 709px 1091px #fff, 445px 742px #fff,
        1814px 399px #fff, 1090px 802px #fff, 925px 69px #fff,
        1988px 1947px #fff, 1085px 167px #fff, 955px 676px #fff,
        649px 1287px #fff, 1782px 453px #fff, 1732px 691px #fff,
        257px 208px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
